*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #F2F9FE;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 5em 4em 0 4em;
    text-align: center;
    margin: 0;
    list-style: none;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transform: translateX(200%);
    transition: all .2s ease-in;
}

nav ul.active {
    position: fixed;
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

nav a {
    text-decoration: none;
    font-size: 60px;
    color: #909193;
    font-weight: 500;
    line-height: 1.5;
}

p {
    font-size: 1.125rem;
    color: #111729;
}

.small-heading {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 0.875rem;
}

.subtitle {
    color: #223344;
    margin-top: 0;
}

h1 {
    font-size: 3.75rem;
    color: #111729;
    margin-bottom: 0.5em;
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    border: none;
}

.get-started-btn {
    background-color: #2A4DD0;
    color: white;
    padding: 1em 2em;
    border-radius: 1em;
    text-transform: uppercase;
}

.demo-btn {
    color: #2A4DD0;
    background: none;
    text-decoration: underline;
}

.checkbox-toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}

.checkbox-toggle img {
    z-index: 1;
}

.sun {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    transform: scale(0.8);
}

.checkbox-toggle + label {
    cursor: pointer;
    display: block;
    width: 2.4em;
    position: relative;
}

.checkbox-toggle + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background-color: #111729;
    border-radius: 1em;
    margin-right: .5em;
    z-index: -1;
    transition: background-color 200ms ease-in-out;
}

.about-link {
    color: #111729;
}

nav button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#close-btn {
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding: 2em;
}

.btn-container, .benefits {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-block: 2em;
}

.benefits span {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

@media screen and (min-width: 64rem) {
    header {
        justify-content: center;
        position: relative;
    }

    .logo {
        position: absolute;
        top: 35%;
        left: 2%;
    }

    header > nav > ul > li:nth-child(6) {
        position: absolute;
        top: 0;
        right: -190%;
    }

    nav ul {
        padding: 0;
        text-align: unset;
        background: none;
        height: unset;
        position: static;
        width: unset;
        visibility: unset;
        opacity: 1;
        transform: translateX(0);
        flex-direction: row;
    }

    nav a {
        font-size: 1rem;
    }

    #toggle, #close-btn {
        display: none;
    }

    .hero {
        max-width: 70%;
        margin-inline: auto;
    }
}